*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    color: crimson;
    font-size: 50px;
}

h1::after{
    content: " How are you";
    color: green;
    font-size: 30px;
    font-family: cursive;
}

h1::before{
    content: "Welcome, ";
    font-weight: 40px;
    font-family: fantasy;
    color: mediumblue;
}