* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 50px;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 10% 40%  40 10%;
    gap: 20px;
    padding: 20px;
}

header{
    background-color: crimson;
    grid-column-start: 1;
    grid-column-end: 3;
}

.lefttop{
    background-color: rgb(105, 32, 178);
    grid-column:  1/2;
}

.leftbottom{
    background-color: rgb(99, 49, 49);
    grid-column:  1/2;
}

.right{
    background-color: rgb(6, 76, 73);
    grid-row: 2/4;
    grid-column: 2/3;
}

section{
    background-color: rgb(18, 143, 143);
}

footer{
    background-color: rgb(76, 178, 144);
    grid-column:  1/ 3;
}