* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

main {
  height: 70%;
  width: 25%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

button {
  background-color: white;
  color: black;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
}

.box {
  position: absolute;
  height: 10%;
  width: 15%;
  /* background-color: red; */
  border-radius: 10px;
  /* top: 10%;
    left: 60%; */
}

#top {
  color: white;
  display: flex;
  width: 25%;
  justify-content: space-between;
}

#overlay {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(19, 18, 18);
  position: absolute;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  display: none;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
