* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.parent {
  background-color: rgb(141, 47, 47);
  /* padding: 10px; */
  display: flex;
  overflow: hidden;
}

.inner {
  background-color: lightseagreen;
  /* padding: 10px; */
  display: flex;

  animation-name: nav-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h4 {
  background-color: royalblue;
  padding: 15px;
  font-size: 20px;
}

@keyframes nav-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
