*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.bulb{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 4px solid black;
}

button{
    padding: 20px 40px;
    color: black;
    background-color: rgb(205, 113, 113);
    border: none;
    border-radius: 20px;
    font-size: 30px;
    
}

.lightup{
    background-color: yellow;
}